html {
    box-sizing: border-box;
    margin: none;
    padding: none;

}
body {
    background-image: url('../src/img/bg.webp');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 95%;
    padding: 1%;
    margin: auto;
}

header {
    height: 25vh;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 3rem;
}
h3 {
    text-align: center;
    font-size: 2.5rem;
}
.photo-container {
    border-radius: 120px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.photo-container img {
    object-fit: contain;
    width: 100%;
    height:100%;
    max-width: 100%;
    max-height: 100%;
}

.title-container {
    border-radius: 25px;
    width: 80%;
    margin-left: 10px;
}
.intro {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 2vh;
    padding: 10px;
    border: dashed 4px blanchedalmond;
    border-radius: 65px;
}
.intro p {
    margin: 1vh 0
}
#main-content {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    height: 202vh;
}

#main-content .global-container {
    padding: 10px;
    margin-right: 10px;
    width: 25%;
}
.data {
    display: flex;
    flex-direction: column;
}
.data-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.data-container p {
    margin: 5px;
}
.data-container a {
    text-decoration: none;
    color: black;
}
.data-img-container {
    margin: 10px;
}
.curved-borders {
    border: dashed 4px blanchedalmond;
    border-radius: 25px;
}
.skills-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
    border-bottom: 1px solid #ddd;
}

.skills-list i,
.skills-list img {
    margin-right: 20px;
    min-width: 20px;
}

.ico-container {
    width: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main-content p, #main-content li {
    font-size: 1.1rem;
}
#main-content .main-area {
    min-width: 75%;
}
.margin-subcontainer {
    margin: 10px 20px;
}
.padding-subcontainer {
    padding: 10px;
}

.cursus-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0
}
.border-left {
    margin-left: 30px;
    padding-left: 20px;
    border-left: solid 3px black;
}
.margin-left {
    margin-left: 30px;
}
.center {
    display: flex; 
    flex-direction: row;
    align-items: center;
}
.global-container {
    height: 202vh;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
#download {
    margin: auto;
    background-color: red;
    border: solid 1px blue;
    border-radius: 5px;
    padding: 10px;
}